@font-face {
  font-family: "Poppins";
  src: url("Poppins-Regular.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url("Poppins-Bold.otf") format("opentype");
  font-weight: 700;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f5f7fa;
  color: #000;
  min-height: 100vh;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 20px 40px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.header-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo {
  width: 45px;
  height: 45px;
  border-radius: 8px;
}

.logout-btn {
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s ease;
}
.logout-btn:hover {
  background: #277bde;
}

/* MAIN CONTENT */
.main-content {
  padding: 40px;
  max-width: 1200px;
  margin: auto;
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 25px;
}

.chart-card {
  background: #fff;
  border-radius: 15px;
  padding: 25px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  text-align: center;
}

.chart-card h3 {
  font-size: 17px;
  margin-bottom: 15px;
  font-weight: 700;
  color: #000;
}

canvas {
  width: 100% !important;
  height: 280px !important;
}
